{% extends "layout.html"%}

{% block main %}

<section class="p-5 container">
    <h2 class="pb-3">Orçamentos Atuais</h2>
    <div class="row g-4">
        <div class="col-12 col-lg-9">

            <div class="card shadow-lg border-0" style="max-width: 1200px;">
                <div class="card-body" style="max-height: 450px; overflow-y: auto;">

                    <div class="row">

                        {% if budgets %}
                            {% for budget in budgets %}
                            {% set percentage = (budget.percentage | abs) %}
                            {% set total_spent = (budget.total_spent | abs) %}
                            {% set remaining =  budget.amount - total_spent  %}
                            {% set width = percentage if percentage <= 100 else 100 %}

                            <div class="card mb-3 mx-3 col-11 col-md-3 border-card-orcamento" style="border-color: {{budget.code}}">
                                <div class="card-body">
                                    <h6 class="card-title text-truncate">{{budget.name}}</h6>
                                    
                                    <p class="card-text text-truncate">{{brl(total_spent)}}/{{"%.2f"|format(budget.amount)}}</p>
                                    
                                    <div class="progress" role="progressbar">
                                        <div class="progress-bar {{'bg-success' if percentage <= 30 else ('bg-warning' if percentage <= 80 else 'bg-danger')}}" 
                                        style="width: {{width}}%"></div>
                                    </div>
                                    <!-- Lógica para mostrar casa decimal caso ela seja maior que 0 -->
                                    <p class="pt-3 m-0">{{brl(remaining)}} Restante / {% if percentage % 1 != 0 %} {{ percentage | round(1)}}% {% else %} {{percentage | int }}% {% endif %} Usado <button class="btn border-0 btn-delete"  id="btn-delete" data-id="{{budget.id}}"><i class="bi bi-trash3-fill"></i></button></p>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <p class="mb-0">Ainda não há orçamentos</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card border-0 shadow-lg">
                <div class="card-body">
                    <div class="card-title pb-2">
                        <h5>Novo Orçamento</h5>
                    </div>
                    <form action="/budget" method="post" id="form-budget">
                        <div class=" mb-3">
                            <label class="pb-2" for="select-ctgs">Selecionar Categoria</label>
                            <select class="form-select {% if errors.category %} is-invalid {% endif %}" id="select-ctgs" name="select-category" >
                                <option selected disabled value="">Categoria</option>
                                {% for category in categories %}
                                <option value="{{category.id}}">{{category.name}}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback js-message-error">
                                {% if errors.category %}
                                {{errors.category}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="pb-3">
                            <label class="pb-2" for="amount">Definir Quantia Max para Gasto</label>
                            <input type="text" class="form-control {% if errors.amount %} is-invalid {% endif %}" placeholder="Ex: R$300" id="amount" name="amount" >
                            <div class="invalid-feedback js-message-error">
                                {% if errors.amount %}
                                {{errors.amount}}
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex align-items-center">
                            <div class="mx-auto">
                                <button type="button" class="btn btn-danger my-btn" id="btn-cancel">Cancelar</button>
                                <button type="submit" class="btn btn-success my-btn">Salvar Orçamento</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock%}

{% block script %}
    <script type="module" src="{{url_for('static', filename='../static/js/modules/budget.js')}}"></script>
{% endblock %}