{% extends "layout.html" %}

{% block main %}

<div class="container d-flex align-items-center justify-content-center" style="min-height: calc(100vh - 98px);">
    <div class="row w-100 justify-content-center">
        <div class="col-10 col-md-6 col-lg-4">
            <div class="card border-card-login p-4 shadow-lg" style="max-height: 600px;">
                <div class="card-body">
                    <div class="card-title fw-bold pb-3 text-center">
                        <h3>Registrar minha conta</h3>
                    </div>
                    <div class="card-text">
                        <form action="/register" method="post" id="form-register">
                            <div class="mb-3">

                                <div class="mb-3">
                                    <input type="text" name="username" value="{{username}}"
                                        placeholder="Nome de usuário" id="username"
                                        class="form-control {% if errors.username %} is-invalid {% endif %}">
                                    <!-- Essa div de js-message é controlada via JS -->
                                    <!-- Só aparece quando add a class 'is-invalid' no input -->
                                    <div class="invalid-feedback js-message-error" id="message-error">
                                        {% if errors.username %}
                                            {{errors.username}}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <input type="text" name="email" value="{{email}}" placeholder="Email"
                                        id="email" class="form-control {% if errors.email %} is-invalid {% endif %}">
                                    <!-- Essa div de js-message é controlada via JS -->
                                    <!-- Só aparece quando add a class 'is-invalid' no input -->
                                    <div class="invalid-feedback js-message-error">
                                        {% if errors.email %}
                                            {{errors.email}}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <input type="password" id="password" name="password" placeholder="Senha"
                                        class="form-control {% if errors.password %} is-invalid {% endif %}">
                                    <!-- Essa div de js-message é controlada via JS -->
                                    <!-- Só aparece quando add a class 'is-invalid' no input -->
                                    <div class="invalid-feedback js-message-error">
                                        {% if errors.password %}
                                        {% for error in errors.password %}
                                            {{error}}
                                        {% endfor %}
                                        {% endif %}
                                    </div>  
                                </div>

                                <div class="mb-3">
                                    <input type="password" name="confirmation" id="confirmation" placeholder="Confirme sua senha"
                                        class="form-control {% if errors.confirmation %} is-invalid {% endif %}">
                                    <!-- Essa div de js-message é controlada via JS -->
                                    <!-- Só aparece quando add a class 'is-invalid' no input -->
                                    <div class="invalid-feedback js-message-error">
                                        {% if errors.confirmation %}
                                            {{errors.confirmation}}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <button type="submit"
                                        class="my-btn btn-destaque w-100 border-0 rounded">Registrar</button>
                                </div>
                                <div class="mb-1 text-center">
                                    <a class="nova-conta-login" href="/login">Já tenho uma conta</a>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock%}


{% block script %}
<script type="module" src="{{url_for('static', filename='../static/js/modules/register.js')}}"></script>
{% endblock %}